.wrapper {
    position: relative;
    height: 400px;
}
.wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .5);
    z-index: 1;
}


.flex {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap;
}
.box {
    color: white;
    text-align: center;
    margin: 20px;
    /* flex: 1; */
}
.box > div {
    font-family: lato-bold;
    font-size: 50px;
}
@media(max-width:600px) {
    .wrapper {
        height: 600px;
    }
    .box {
        flex-basis: 100%;
    }
}